*{
    margin:0px;
    padding: 0px;
}
.container{
    width: 1080px;
    height: 800px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 420px;
    top:500px;
    flex-direction: column;
}
.title{
    text-align: center;
}
.button{
    border-radius: 50px;
    height:100px;
    width: 100px;
}
.image1{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
}
.image2{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
